.container {
  @apply px-4 py-2
}

.heading {
  @apply text-lg font-bold px-4;
}

.console {
  @apply flex justify-between items-center p-4 flex-col md:flex-row md:px-0;
}

.grid {
  @apply p-0 grid-rows-grid grid-cols-grid gap-1;
  display: grid;
  width: 80vmin;
  height: 80vmin;
}

.box {
  @apply border-black h-full w-full cursor-pointer flex items-center justify-center text-3xl text-white bg-gray-200;
}

.form {
  @apply flex flex-col p-4;
}